<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

    <title>Page Not Found</title>
</head>
<body class="p-3 mb-2 bg-light text-black">
<div class="container justify-content-center w-75 p-3" style="margin-top: 5em;">
    <div class="alert alert-warning fill-parent">
        <h1 class="display-5">Error</h1>
        <h4>Something went wrong. Please check the URL.</h4>
        <span>Go back to <a href="/home">home page</a></span>
    </div>
</div>

</body>
</html>